apiVersion: apps/v1
kind: Deployment
metadata:
  name: coordinator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: coordinator
  template:
    metadata:
      labels:
        app: coordinator
    spec:
      containers:
        - name: coordinator
          image: dg1223/market-scanner-coordinator:latest
          imagePullPolicy: Always   # force pull latest image
          env:
            - name: APP_REDIS_HOST
              value: redis
            - name: APP_REDIS_PORT
              value: "6379"
